{% extends 'base.html' %}

{% load static %}

{% block styles %}
{% endblock %}

{% block page_title %}
    <title>Додати новину</title>
{% endblock %}

{% block content %}
    <div class="col col-md-3 slide">
        {% include 'menu.html' %}
    </div>
    <div class="col col-md-9">


        <div class="block_main_content">

            <div class="content_card">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            {% if not news_model %}
                                <h3>Ще не опубліковані новини</h3>
                            {% else %}
                                {% for item_news in news_model %}
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ item_news.user.username }}</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">{{ item_news.created }}</h6>
                                                <hr>
                                                <p class="card-text">{{ item_news.text_news }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <form action="" method="post" class="form_for_news">
                                {% csrf_token %}
                                <textarea class="form-control" name="text_news" id="exampleFormControlTextarea1"
                                          rows="3"
                                          placeholder="Введiть новину"></textarea>
                                <button type="submit" value="SENT" style="width: 100%;" class="btn btn_static">SENT
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}