<div class="slide_header"><h3>CHAT FOR WHAT</h3></div>
<div class="slide_menu">
    <ul class="main_menu">
        {#                <li><a href="">АНОНИМНЫЙ ЧАТ</a></li>#}
        <li><a href="/show_my_profile/">МОЯ СТОРIНКА</a></li>
        <li><a href="/my_dialog/">МОИ ПОВIДОМЛЕННЯ</a></li>
        <li><a href="/my_news/">МОЇ НОВИНИ</a></li>
        <li><a href="/add_news/">ДОДАТИ НОВИНУ</a></li>
        {#                <li><a href="">ДРУЗЬЯ</a></li>#}
        <li><a href="/search_interlocutor/">ПОШУК ЛЮДЕЙ</a></li>
        <li><a href="/update_my_profile/">РЕДАГУВАТИ ПРОФIЛЬ</a></li>
        <li><a href="/logout_profile/">ВИХIД</a></li>
    </ul>

</div>
<div class="slide_footer">
    MAKE PRETTY MAN
</div>