{% extends 'base.html' %}

{% load static %}

{% block styles %}
{% endblock %}

{% block page_title %}
    <title>Дiалоги</title>
{% endblock %}

{% block content %}

    <div class="col col-md-3 slide">
        {% include 'menu.html' %}
    </div>
    <div class="col col-md-9">

        <div class="block_main_content">

            <div class="content_card">
                <div class="row">

                    {% for  dialog in dialogs %}
                        <div class="col col-md-2">
                            <div class="user_card">
                                <div class="col-md-12">
                                    <span class="img_user">{{ dialog }}</span>
                                </div>
                                <a class="btn btn_static btn-sm"
                                   href="/dialog/{{ dialog.id }}/" role="button"
                                   style="background-color: gray; color:#ffffff;">SPEAK</a>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock content %}