{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile_user_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_profile_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_news_style.css' %}">
{% endblock %}

{% block page_title %}
    <title>Мої дані</title>
{% endblock %}

{% block content %}


    <div class="col col-md-3 slide">
        {% include 'menu.html' %}
    </div>
    <div class="col col-md-9">
        <div class="block_main_content">

            <div class="content_card">
                <div class="row">
                    <div class="col-md-12">
                        {% if not user_check %}
                            <h3>Ще не заповнені дані</h3>
                            <a class="btn btn-primary btn-sm" href="/update_my_profile/" role="button">Заповнити
                                дані</a>
                        {% else %}
                            <div class="row">
                                <div class="col-md-offset-1 col-md-3">
                                    <span class="profile_image">{{ user.user.username }}</span>
                                </div>
                                <div class="col-md-8">
                                    <table class="list_user_data">
                                        <tr>
                                            <td class="title_data">userName</td>
                                            <td class="data_inform">{{ user.user.username }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title_data">Вік</td>
                                            <td class="data_inform">{{ user.user_age }} роки</td>
                                        </tr>
                                        <tr>
                                            <td class="title_data">Стать</td>
                                            <td class="data_inform">{{ user.user_sex }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title_data">Мета знайомства</td>
                                            <td class="data_inform">{{ user.purpose_of_dating }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title_data">Куріння</td>
                                            <td class="data_inform">{{ user.user_smook }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title_data">Алкоголь</td>
                                            <td class="data_inform">{{ user.user_alcogol }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="col-md-12">
                    <h4>Block "{{ request.user }}" comment:</h4>
                    <div class="row">
                        {% if not news_model %}
                            <h3>Ще не опубліковані новини</h3>
                        {% else %}
                            {% for item_news in news_model %}

                                <div class="col-sm-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ item_news.user.username }}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{ item_news.created }}</h6>
                                            <hr>
                                            <p class="card-text">{{ item_news.text_news }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        {% endif %}

                    </div>
                </div>
            </div>


        </div>
    </div>



{% endblock content %}