{% extends 'base.html' %}

{% load static %}

{% block styles %}
{% endblock %}

{% block page_title %}
    <title>Моя сторiнка</title>
{% endblock %}

{% block content %}
    <div class="col col-md-3 slide">
        {% include 'menu.html' %}
    </div>
    <div class="col col-md-9">

        <div class="block_main_content">

            <div class="content_card">
                <div class="field_massege"
                     style="margin: 5px -10px;
                        padding: 5px;
                        border: 1px solid gray;
                        height: 350px;
                        max-height: 600px;
                        overflow-y: scroll;">
                    <div class="testovoch"></div>
                    <ul class="list_massage">
                        {% if not messages %}
                            <p>Поки нема {{ dialog_id }}</p>
                        {% else %}

                            {% for item_message in messages %}
                                {% if item_message.sender == request.user %}
                                    <li class="message_element iam">
                                        <span class="chat_user_name">{{ item_message.sender }}</span>
                                        <span class="user_message">{{ item_message.text_message }}</span>
                                    </li>
                                {% else %}
                                    <li class="message_element anm">
                                        <span class="chat_user_name">{{ item_message.dialog.user_2 }}</span>
                                        <span class="user_message">{{ item_message.text_message }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <form action="" method="post" id="chat_forms" style="width: 100%;">
                                {% csrf_token %}
                                <input type="text" class="field_enter" name='message' style="width: 100%;">
                                <button type="submit" value="SENT" style="width: 100%;" class="btn btn_static">SENT
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}